[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.html_modfd {
   font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !important;
}